.Treatment .treatmentMarginSet{
    position: relative;
    top: 100px;
}

/*
.Treatment .row{
    border: 2px solid black;
}

.Treatment .testCol{
    border: 1px solid black;
}
*/
/*
.Treatment .categoryScroll {
    height: auto;
    overflow: scroll;
    background-color: rgb(66, 66, 66);
  }*/

.Treatment .categoryScroll .fullScreen{
    height: 110%;
    overflow: scroll;
    background-color: rgb(66, 66, 66);
}



.Treatment .categoryScroll .fullScreen::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 790px) {
    .Treatment .categories .fullScreen {
      display: none;
    }
  }

@media (min-width: 791px) and (max-width: 2135px) {
    .Treatment .categories .smallScreen {
      display: none;
    }
  }



/*Footer styles*/

.Treatment .footerSet {
  height: 60px;
  width: 100%;
  color: white;
}


.Treatment .ruleTwo {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  width: 80%;
}

.Treatment .footerSet .footerStyle {
  left: 0;
  bottom: 0;

  width: 100%;
  margin-top: 120px;
  background-color: #343a40;
}

.Treatment .footerSet .footerStyle .container-fluid {
  width: 85%;
}

.Treatment .footerSet .footerStyle .container-fluid .col-lg-3 {
  margin-top: 50px;
}

.Treatment .footerSet .live {
  text-align: justify;
  text-justify: inter-word;
}


.Treatment .glyp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Treatment .glyp img {
  margin: 10px;
}