.MainPage .total .container-fluid {
  width: 95%;
}

.MainPage .total {
  top: 0px;
  position: relative;
}

.MainPage .countries {
  margin-top: 70px;
}

.MainPage .countries .row {
  margin-top: 50px;
}

.MainPage .countries .countryScroll {
  height: 1280px;
  overflow: scroll;
}

.MainPage .countryScroll::-webkit-scrollbar {
  display: none;
}

.MainPage .countries .continents .nav-item {
  margin: 8px;
  width: 100%;
}

.MainPage .countries .continents .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.MainPage .countries .mostViewed .nav-item {
  margin: 8px;
  width: 100%;
}

.MainPage .countries .mostViewed .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

/*//////////////////////////////////////*/

.countries .row .col-lg-2 {
  border: 1.5px solid black;
}
.countries .container-fluid {
  width: 96%;
}

/*////////////////////////////////////*/

@media only screen and (max-width: 790px) {
  .MainPage .countries .countryScroll {
    display: none;
  }
}

@media (min-width: 791px) and (max-width: 2135px) {
  .MainPage .countries .col-sm-12 {
    display: none;
  }
}

/*//////////////////////////////////////////////////////*/

.MainPage .showRegions {
  border: 2px solid black;
  background-color: lightgray;
  height: 350px;
  overflow: scroll;
}

.MainPage .showRegions::-webkit-scrollbar {
  display: none;
}

.MainPage .showRegions .showContinents .nav-item {
  margin: 8px;
}

.MainPage .showRegions .showContinents .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage .showRegions .showContinents .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.MainPage .showRegions .showMostViewed .nav-item {
  margin: 8px;
}

.MainPage .showRegions .showMostViewed .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.MainPage .showRegions .showMostViewed .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage .chooseRegion .chooseButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage .chooseRegion .chooseButton .btn {
  width: 90%;
}

.MainPage .chooseRegion .box {
  position: relative;
  top: -50px;
}

/*////////////////////////////*/

.MainPage .countries .countryScroll {
  background-color: rgb(66, 66, 66);
}

.MainPage .box .showRegions {
  background-color: rgb(66, 66, 66);
}

/*///////////////////////////*/

.MainPage .rule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.MainPage .ruleTwo {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  width: 80%;
}

.MainPage .ruleThree {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  width: 80%;
}

.MainPage .continentBar {
  margin-top: 40px;
}

/*////////////////////////////*/

.MainPage .showRegions .close {
  position: absolute;
  margin-left: 10px;
  color: white;
  font-size: xx-large;
}

/*/////////////////////////////*/

.MainPage .footerSet {
  height: 60px;
  width: 100%;
  color: white;
}

.MainPage .footerStyle {
  left: 0;
  bottom: 0;

  width: 100%;
  margin-top: 50px;
  background-color: #343a40;
}

.MainPage .footerSet .footerStyle .container-fluid {
  width: 85%;
}

.MainPage .footerSet .footerStyle .container-fluid .col-lg-3 {
  margin-top: 50px;
}

.MainPage .footerSet .live {
  text-align: justify;
  text-justify: inter-word;
}

.MainPage .scientificTerms {
  margin-top: 20px;
  background-color: #343a40;
}

.MainPage .scientificTerms p {
  font-size: larger;
  text-align: justify;
  text-justify: inter-word;
}

.MainPage .scientificTerms .text {
  font-size: medium;
}

.MainPage .glyp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage .glyp img {
  margin: 10px;
}

/*//////////////////////////////////////////////////////////*/
/*
.MainPage .MainPageChart .container-fluid {
  width: 90%;
}*/

/*
.MainPage .MainPageChart {
  position: relative;
  top: 30px;
}
*/

/*
.SecondChart {
  position: relative;
  border: 2px solid black;
  top: 40px;
}*/

/*
.ThirdChart {
  position: relative;
  border: 2px solid black;
}*/
/*
.MainPage .MainPageChart {
  position: relative;
  top: 45px;
}
*/
.MainPage .MainPageChart .MainChartSet {
  position: relative;
  top: 20px;
  /*  border: 2px solid black;
/*  z-index: 10000;*/
}
