.mainTable .tableSet {
  height: 750px;
  overflow: hidden;
}

.mainTable .continentBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mainTable .continentBar .nav {
  width: 100%;
}

.mainTable .continentBar .nav a {
  width: 90%;
  background-color: #424242;
  color: white;
}

.mainTable .continentBar .nav a:hover {
  cursor: pointer;
  background-color: gray;
}

.mainTable .continentBar .nav a:active {
  background-color: white;
  color: black;
}

.mainTable .rulee {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
}

@media only screen and (max-width: 790px) {
  .mainTable {
    margin-top: 40px;
  }

  .mainTable .continentBar .nav a {
    margin-top: 10px;
  }


  .mainTable .continentBar{
    display: none;
  }

}

@media (min-width: 791px) and (max-width: 2135px) {
 
  .mainTable .smallScreenContinentBar{
    display: none;
  }
}

/*
.mainTable .smallScreenContinentBar .nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.mainTable .smallScreenContinentBar .nav .nav-item{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.mainTable .smallScreenContinentBar .nav .nav-item .nav-link{
  width: 85%;
}

.mainTable .smallScreenContinentBar .nav a{
  background-color: #424242;
  color: white;
}

.mainTable .smallScreenContinentBar .nav .nav-item .nav-link:hover{
  cursor: pointer;
  background-color: gray;
}
